
.button{
    -fx-font: 35px fantasy;
    -fx-effect: dropshadow(one-pass-box,red,14,0.0,6,0);
    -fx-background-radius: 8;
    -fx-background-color: transparent; 
    -fx-text-fill: black;

}

.btn{
	-fx-font: 25px fantasy;
    -fx-effect: dropshadow(one-pass-box,red,14,0.0,6,0);
    -fx-background-radius: 8;
    -fx-background-color: transparent; 
    -fx-text-fill: black;
	
	
}


.button1 {
    -fx-background-color: dodgerBlue; 
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-border-radius: 4px;
}

.myButton {
	 
	 -fx-background-color:#c62d1f;
	 -fx-moz-border-radius:18px;
	 -fx-webkit-border-radius:18px;
	 -fx-border-radius:18px;
	 -fx-display:inline-block;
	 -fx-cursor:pointer;
	 -fx-color:#ffffff;
	 -fx-font-family:Arial;
	 -fx-font-size:23px;
	 -fx-padding:9px 36px;
	 -fx-text-decoration:none;
}

.myButton:active {
	 -fx-position:relative;
	 -fx-top:1px;
}


.label1{
    -fx-font: 40px fantasy;
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box,blue,20,0.0,10,0);
    -fx-background-radius: 8; 
    -fx-font-style: italic;

}
.label2{
    -fx-font: 25px fantasy;
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box,blue,15,0.0,5,0);
}
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center;
 
    -fx-font: 15 px;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #0ed9e0;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #2b2a2a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */

}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #262626;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-alignment: center;
    
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-column-cell{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
 
  
}
.table-view{
-fx-border-color: black;
}


.btn {
  -fx-background: #ff1f44;
  -fx-webkit-border-radius: 19;
  -fx-moz-border-radius: 19;
  -fx-border-radius: 19px;
  -fx-font-family: Arial;
  -fx-color: #ffffff;
  -fx-font-size: 20px;
  -fx-padding: 22px 20px 10px 20px;
  -fx-text-decoration: none;
}


